@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

#root {
  background-color: #000;
  font-family: "Orbitron", sans-serif;
  overflow: hidden;
  color: white;
}

.bg {
  background-color: #9747ff;
  border-radius: 100%;
  filter: blur(241.1999969482422px);
  flex: none;
  height: 660px;
  z-index: 0;

  position: absolute;

  width: 660px;
}
.font-popo{
 font-family: "Poppins", sans-serif;
}
